@import "tailwindcss";
@theme {
  --color-ferro-bg: #e5e7eb;    
  --color-ferro-dark: #111827;  
  --color-ferro-accent: #f97316; 
  
  --font-industrial: "Inter", sans-serif;
}
@utility border-steel-thin {
  border-width: 0.5px;
  border-color: rgba(255, 255, 255, 0.1);
}